<html>
    <head>
            <title>{% block title 'Generador aleatorio' %} | Randomy</title>
            <meta name="description" content="{% block metadesc %}Generador de números aleatorios para sorteos {% endblock %}"/>
            <link href="/css/main.css" rel="stylesheet"  type="text/css" />
    </head>
    <body>
        <div class="container">
     {% block body '' %}
         </div>   
     </body>
</html>