{% extends 'base.twig' %}

{% block body %}
     <h1> {{ title }} </h1>
     
    {{ error }}

      <h2>Generar número aleatorio</h2>  
        
     {% include 'form.twig' %}    
      
      
{% endblock %}

